*~
/.idea
/.bundle
/.rubymine_helpers
/coverage
/log
/tmp
/vendor/bundle
/vendor/install
vendor/assets/bower_components
vendor/assets/bower.json
vendor/assets/.bowerrc
*.iml
/erd.png
.DS_Store
*.log
*.sublime-*
tags
backup_mysql.tar.gz

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

public/operators/attachment_file
public/customers
public/uploads
public/assets

/.env.*
/.env
